/* GENERALE */

* {
  margin: 0;
  padding: 0;
}


header {
  background-color: rgb(78, 160, 255);
  background-image: url(../img/pattern.png);
  background-size: 30%;
  padding-top: 40px;
  padding-left: 20px;
}

main, footer {
  padding: 20px;
}

.hightlight{
  background-color: yellow;
}

/* HEADER */

#img-logo{
  height: 40px;
}

/* MAIN */
.autore {
  font-size: 0.8rem;
  margin-bottom: 10px;
  margin-top: 5px; 
}

.autore p {
  margin-bottom: 3px;
}

.conteiner-img-tim img {
  height: 260px;  
}

.didascalie {
  font-size: 0.7rem;
}

#text-blue{
  color: rgb(78, 160, 255);
  font-weight: 700;
}

.testo-centrale {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* TABELLA */
.lista {
  margin: 15px;
}

.lista li{
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  color: white;
}

.colonna-larga {
  width: 50%;
}

#row-head{
  background-color: rgb(35, 169, 229);
}

.row-skyblue {
  background-color: rgb(177, 229, 242);

}

/* FOOTER */
.contenitore-immagine {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pc {
  background-image: url(../img/monitor.jpg);
  
}

.graph {
  background-image: url(../img/graph.jpg);
}

footer, a {
  text-decoration: none;
}